In [48]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [49]:
path=r"C:\Users\devav\Downloads\diminos_data.csv"

In [50]:
df=pd.read_csv(path)

In [51]:
df.head()

   order_id      order_placed_at          order_delivered_at
0   1523111  2023-03-01 00:00:59  2023-03-01 00:18:07.443132
1   1523112  2023-03-01 00:03:59  2023-03-01 00:19:34.925241
2   1523113  2023-03-01 00:07:22  2023-03-01 00:22:28.291385
3   1523114  2023-03-01 00:07:47  2023-03-01 00:46:19.019399
4   1523115  2023-03-01 00:09:03  2023-03-01 00:25:13.619056

In [52]:
df.shape

(15000, 3)

In [53]:
df.describe

<bound method NDFrame.describe of        order_id      order_placed_at          order_delivered_at
0       1523111  2023-03-01 00:00:59  2023-03-01 00:18:07.443132
1       1523112  2023-03-01 00:03:59  2023-03-01 00:19:34.925241
2       1523113  2023-03-01 00:07:22  2023-03-01 00:22:28.291385
3       1523114  2023-03-01 00:07:47  2023-03-01 00:46:19.019399
4       1523115  2023-03-01 00:09:03  2023-03-01 00:25:13.619056
...         ...                  ...                         ...
14995   1538106  2023-03-27 23:37:05  2023-03-27 23:52:37.409378
14996   1538107  2023-03-27 23:47:38  2023-03-28 00:04:22.672912
14997   1538108  2023-03-27 23:50:16  2023-03-28 00:05:40.676238
14998   1538109  2023-03-27 23:52:44  2023-03-28 00:08:41.810358
14999   1538110  2023-03-27 23:58:20  2023-03-28 00:13:42.499311

[15000 rows x 3 columns]>

In [54]:
df.dtypes

order_id               int64
order_placed_at       object
order_delivered_at    object
dtype: object

In [55]:
df["order_placed_at"] = pd.to_datetime(df["order_placed_at"])
df["order_delivered_at"] = pd.to_datetime(df["order_delivered_at"])

In [56]:
df.dtypes

order_id                       int64
order_placed_at       datetime64[ns]
order_delivered_at    datetime64[ns]
dtype: object

In [57]:
df["delivery_min"] = (
    df["order_delivered_at"] - df["order_placed_at"]
).dt.total_seconds() / 60

In [58]:
df[["order_id", "delivery_min"]].head()

   order_id  delivery_min
0   1523111     17.140719
1   1523112     15.598754
2   1523113     15.104856
3   1523114     38.533657
4   1523115     16.176984

In [59]:
df["delivery_min"].describe()

count    15000.000000
mean        20.499389
std         96.160362
min         15.000010
25%         15.274826
50%         15.797986
75%         17.279661
max       7299.831375
Name: delivery_min, dtype: float64

In [60]:
val= df["delivery_min"].quantile(0.95)
val

27.261043996666658

In [61]:
if val <= 31:
    print("Store meets Diminos 95th percentile requirement")
else:
    print(" Store does NOT meet Diminos requirement")

Store meets Diminos 95th percentile requirement

In [62]:
late_orders = df[df["delivery_min"] > 31]
late_orders.shape

(557, 4)

In [69]:
on_time=df.shape[0] - late_orders.shape[0]
print("on time delivery are :",on_time)
print("last delivery are :",late_orders.shape[0])

on time delivery are : 14443
last delivery are : 557